openapi: 3.1.0
info:
  title: API de Modelos do Professor e Importação
  version: 1.0.0
  description: Contrato futuro da central para analisar XLSB, gerar e validar XLSX, revisar compartilhamento Entra e conectar o modelo ao Banco de Notas.
  license:
    name: Uso institucional restrito
    identifier: LicenseRef-Institutional-Restricted
servers:
  - url: https://api.escolaieda.com
    description: Endereço futuro; não provisionado na homologação
security:
  - microsoftEntra: []
paths:
  /v1/import-jobs:
    post:
      operationId: createImportJob
      summary: Registra uma importação segura a partir de arquivo já enviado a uma área restrita
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/CreateImportJob'}
      responses:
        '202': {description: Job aceito, content: {application/json: {schema: {$ref: '#/components/schemas/ImportJob'}}}}
        '400': {$ref: '#/components/responses/Problem'}
        '401': {$ref: '#/components/responses/Problem'}
        '403': {$ref: '#/components/responses/Problem'}
    get:
      operationId: listImportJobs
      summary: Lista jobs conforme a autorização do operador
      responses:
        '200': {description: Jobs, content: {application/json: {schema: {type: array, items: {$ref: '#/components/schemas/ImportJob'}}}}}
        '401': {$ref: '#/components/responses/Problem'}
        '403': {$ref: '#/components/responses/Problem'}
  /v1/import-jobs/{jobId}:
    get:
      operationId: getImportJob
      summary: Obtém o estado e as evidências de um job de importação
      parameters: [{$ref: '#/components/parameters/JobId'}]
      responses:
        '200': {description: Job e evidências, content: {application/json: {schema: {$ref: '#/components/schemas/ImportJob'}}}}
        '404': {$ref: '#/components/responses/Problem'}
  /v1/import-jobs/{jobId}/generate:
    post:
      operationId: generateTeacherModel
      summary: Gera o XLSX somente depois da análise válida
      parameters: [{$ref: '#/components/parameters/JobId'}, {$ref: '#/components/parameters/IdempotencyKey'}]
      responses:
        '202': {description: Geração iniciada, content: {application/json: {schema: {$ref: '#/components/schemas/ImportJob'}}}}
        '409': {$ref: '#/components/responses/Problem'}
  /v1/teacher-models:
    get:
      operationId: listTeacherModels
      summary: Lista modelos de professor visíveis ao operador autorizado
      parameters:
        - {name: teacherId, in: query, schema: {type: string}}
        - {name: status, in: query, schema: {$ref: '#/components/schemas/ModelStatus'}}
      responses:
        '200': {description: Modelos autorizados, content: {application/json: {schema: {type: array, items: {$ref: '#/components/schemas/TeacherModel'}}}}}
        '401': {$ref: '#/components/responses/Problem'}
        '403': {$ref: '#/components/responses/Problem'}
  /v1/teacher-models/{modelId}:
    get:
      operationId: getTeacherModel
      summary: Obtém metadados e configuração de um modelo
      parameters: [{$ref: '#/components/parameters/ModelId'}]
      responses:
        '200': {description: Modelo, content: {application/json: {schema: {$ref: '#/components/schemas/TeacherModel'}}}}
        '404': {$ref: '#/components/responses/Problem'}
    patch:
      operationId: configureTeacherModel
      summary: Atualiza configuração versionada com controle otimista
      parameters:
        - $ref: '#/components/parameters/ModelId'
        - {name: If-Match, in: header, required: true, schema: {type: string}}
      requestBody:
        required: true
        content: {application/json: {schema: {$ref: '#/components/schemas/ModelConfiguration'}}}
      responses:
        '200': {description: Configuração versionada, content: {application/json: {schema: {$ref: '#/components/schemas/TeacherModel'}}}}
        '412': {$ref: '#/components/responses/Problem'}
  /v1/teacher-models/{modelId}/share:
    post:
      operationId: shareTeacherModel
      summary: Compartilha com usuário Entra após revisão humana registrada
      parameters: [{$ref: '#/components/parameters/ModelId'}, {$ref: '#/components/parameters/IdempotencyKey'}]
      requestBody:
        required: true
        content: {application/json: {schema: {$ref: '#/components/schemas/ShareRequest'}}}
      responses:
        '200': {description: Permissão confirmada, content: {application/json: {schema: {$ref: '#/components/schemas/TeacherModel'}}}}
        '409': {$ref: '#/components/responses/Problem'}
  /v1/teacher-models/{modelId}/connection:
    put:
      operationId: configureModelConnection
      summary: Configura a conexão do modelo com o ambiente do Banco de Notas
      parameters: [{$ref: '#/components/parameters/ModelId'}]
      requestBody:
        required: true
        content: {application/json: {schema: {$ref: '#/components/schemas/ConnectionConfiguration'}}}
      responses:
        '200': {description: Conexão configurada e auditada, content: {application/json: {schema: {$ref: '#/components/schemas/TeacherModel'}}}}
        '401': {$ref: '#/components/responses/Problem'}
        '403': {$ref: '#/components/responses/Problem'}
components:
  securitySchemes:
    microsoftEntra:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/f04e0fa3-b8dc-4f77-be3c-7dfda0635188/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/f04e0fa3-b8dc-4f77-be3c-7dfda0635188/oauth2/v2.0/token
          scopes: {}
  parameters:
    IdempotencyKey: {name: Idempotency-Key, in: header, required: true, schema: {type: string, minLength: 16, maxLength: 128}}
    JobId: {name: jobId, in: path, required: true, schema: {type: string, format: uuid}}
    ModelId: {name: modelId, in: path, required: true, schema: {type: string, minLength: 16, maxLength: 64}}
  responses:
    Problem: {description: Erro no formato RFC 9457, content: {application/problem+json: {schema: {$ref: '#/components/schemas/Problem'}}}}
  schemas:
    ImportStatus: {type: string, enum: [draft, analyzed, generated, validated, ready_to_share, shared, connected, failed]}
    ModelStatus: {type: string, enum: [draft, validated, ready_to_share, shared, connected, suspended, archived]}
    CreateImportJob:
      type: object
      additionalProperties: false
      required: [sourceDriveItemId, teacherId, schoolYear]
      properties:
        sourceDriveItemId: {type: string}
        teacherId: {type: string}
        schoolYear: {type: integer, minimum: 2020, maximum: 2100}
        relationshipSnapshotId: {type: [string, 'null']}
    ImportJob:
      type: object
      required: [jobId, status, sourceHash, findings, createdAt]
      properties:
        jobId: {type: string, format: uuid}
        status: {$ref: '#/components/schemas/ImportStatus'}
        sourceHash: {type: string, pattern: '^[A-Fa-f0-9]{64}$'}
        findings: {type: array, items: {type: string}}
        modelId: {type: [string, 'null']}
        createdAt: {type: string, format: date-time}
    TeacherModel:
      type: object
      required: [modelId, version, teacherId, status, driveItemId, configuration, etag]
      properties:
        modelId: {type: string}
        version: {type: integer, minimum: 1}
        teacherId: {type: string}
        status: {$ref: '#/components/schemas/ModelStatus'}
        driveItemId: {type: string}
        webUrl: {type: string, format: uri}
        configuration: {$ref: '#/components/schemas/ModelConfiguration'}
        etag: {type: string}
    ModelConfiguration:
      type: object
      additionalProperties: false
      properties:
        visualMode: {type: string, enum: [legacy-preserved, neutral], default: legacy-preserved}
        calculationAuthority: {type: string, enum: [server, workbook], default: server}
        relationshipMode: {type: string, enum: [manual-wizard, api], default: manual-wizard}
        blankMeans: {type: string, enum: [absent], default: absent}
        syncEnabled: {type: boolean, default: false}
        environment: {type: string, enum: [homologation, production], default: homologation}
        rulesetVersion: {type: string, default: '2026.1'}
    ShareRequest:
      type: object
      additionalProperties: false
      required: [recipientEntraObjectId, recipientUpn, reviewedBy, reviewedAt]
      properties:
        recipientEntraObjectId: {type: string, format: uuid}
        recipientUpn: {type: string, format: email}
        role: {type: string, enum: [write], default: write}
        reviewedBy: {type: string, format: uuid}
        reviewedAt: {type: string, format: date-time}
    ConnectionConfiguration:
      type: object
      additionalProperties: false
      required: [environment, syncEnabled, endpointId]
      properties:
        environment: {type: string, enum: [homologation, production]}
        syncEnabled: {type: boolean}
        endpointId: {type: string}
        relationshipSnapshotId: {type: [string, 'null']}
    Problem:
      type: object
      required: [type, title, status]
      properties:
        type: {type: string, format: uri-reference}
        title: {type: string}
        status: {type: integer}
        detail: {type: string}
        traceId: {type: string}
