openapi: 3.1.0
info:
  title: API de Sincronização de Notas da Escola Iêda
  version: 1.0.0
  description: Contrato futuro para recepção idempotente, consulta e reconciliação de lançamentos. Exemplos são fictícios.
  license:
    name: Uso institucional restrito
    identifier: LicenseRef-Institutional-Use
servers:
  - url: https://api.escolaieda.com
    description: Endereço futuro; não provisionado nesta POC
security:
  - microsoftEntra: []
paths:
  /v1/grade-events:
    post:
      operationId: createGradeEvent
      summary: Recebe uma alteração ou recálculo de nota
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GradeEventInput'
      responses:
        '202':
          description: Evento aceito e aplicado ou classificado para processamento
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GradeEventReceipt'
        '200':
          description: Repetição idempotente; retorna a confirmação original
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GradeEventReceipt'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: A chave idempotente já existe com payload incompatível
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/grade-events/{eventId}:
    get:
      operationId: getGradeEvent
      summary: Consulta a confirmação auditável de um evento
      parameters:
        - $ref: '#/components/parameters/EventId'
      responses:
        '200':
          description: Evento encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GradeEventReceipt'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/grade-snapshots/{gradeKey}:
    get:
      operationId: getGradeSnapshot
      summary: Consulta o último estado confirmado de um lançamento
      parameters:
        - $ref: '#/components/parameters/GradeKey'
      responses:
        '200':
          description: Snapshot encontrado
          headers:
            ETag:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GradeSnapshot'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/grade-events/stream:
    get:
      operationId: streamGradeEvents
      summary: Acompanha confirmações por Server-Sent Events
      parameters:
        - name: Last-Event-ID
          in: header
          required: false
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Stream autenticado; cada data contém GradeEventReceipt
          content:
            text/event-stream:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
components:
  securitySchemes:
    microsoftEntra:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/f04e0fa3-b8dc-4f77-be3c-7dfda0635188/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/f04e0fa3-b8dc-4f77-be3c-7dfda0635188/oauth2/v2.0/token
          scopes: {}
  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string
        minLength: 16
        maxLength: 128
        pattern: '^[A-Za-z0-9._:-]+$'
    EventId:
      name: eventId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    GradeKey:
      name: gradeKey
      in: path
      required: true
      schema:
        type: string
        minLength: 7
        maxLength: 180
  responses:
    BadRequest:
      description: Entrada inválida
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    Unauthorized:
      description: Token ausente ou inválido
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    Forbidden:
      description: Identidade válida sem autorização no recurso
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    NotFound:
      description: Recurso não encontrado
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    TooManyRequests:
      description: Limite transitório; respeitar Retry-After
      headers:
        Retry-After:
          schema:
            type: integer
            minimum: 1
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
  schemas:
    GradeEventInput:
      type: object
      additionalProperties: false
      required:
        - schemaVersion
        - eventId
        - correlationId
        - eventType
        - gradeKey
        - source
        - field
        - valueAfter
        - sequence
        - clientSentAt
      properties:
        schemaVersion:
          const: 1
        eventId:
          type: string
          format: uuid
        correlationId:
          type: string
          format: uuid
        eventType:
          type: string
          enum: [grade.changed, grade.recalculated, grade.reverted]
        gradeKey:
          type: string
          minLength: 7
          maxLength: 180
          example: 2026|T01|M|aluno-ficticio-001
        source:
          $ref: '#/components/schemas/EventSource'
        field:
          type: string
          enum: [NotaT1, NotaT2, NotaT3, RecT1, RecT2, RecT3, Total, TotalRec, NotaFinal]
        valueBefore:
          oneOf:
            - type: number
            - type: 'null'
        valueAfter:
          oneOf:
            - type: number
            - type: 'null'
        derivedValues:
          $ref: '#/components/schemas/DerivedValues'
        sequence:
          type: integer
          minimum: 1
        sourceRevision:
          type: string
          minLength: 1
          maxLength: 120
        clientSentAt:
          type: string
          format: date-time
    EventSource:
      type: object
      additionalProperties: false
      required: [kind, workbookId, worksheetId, cellAddress]
      properties:
        kind:
          type: string
          enum: [excel-addin, web-model, reconciliation]
        workbookId:
          type: string
          minLength: 1
          maxLength: 120
        worksheetId:
          type: string
          minLength: 1
          maxLength: 120
        cellAddress:
          type: string
          minLength: 2
          maxLength: 40
    DerivedValues:
      type: object
      additionalProperties: false
      properties:
        Total:
          oneOf: [{type: number}, {type: 'null'}]
        TotalRec:
          oneOf: [{type: number}, {type: 'null'}]
        NotaFinal:
          oneOf: [{type: number}, {type: 'null'}]
    GradeEventReceipt:
      type: object
      additionalProperties: false
      required: [eventId, idempotencyKey, status, receivedAt]
      properties:
        eventId:
          type: string
          format: uuid
        idempotencyKey:
          type: string
        status:
          type: string
          enum: [applied, stale, duplicate, queued, rejected]
        receivedAt:
          type: string
          format: date-time
        snapshot:
          $ref: '#/components/schemas/GradeSnapshot'
    GradeSnapshot:
      type: object
      additionalProperties: false
      required: [gradeKey, field, value, sequence, lastEventId, updatedAt]
      properties:
        gradeKey:
          type: string
        field:
          type: string
        value:
          oneOf: [{type: number}, {type: 'null'}]
        sequence:
          type: integer
          minimum: 1
        lastEventId:
          type: string
          format: uuid
        updatedAt:
          type: string
          format: date-time
    Problem:
      type: object
      additionalProperties: true
      required: [type, title, status]
      properties:
        type:
          type: string
          format: uri-reference
        title:
          type: string
        status:
          type: integer
          minimum: 400
          maximum: 599
        detail:
          type: string
        traceId:
          type: string
